body {
    /* «адаем фон дл€ нашей страницы в виде обычного изображени€.
    Ёто нужно на случай, есть браузер не смог воспроизвести видео из-за того,
    что он не поддерживает тег video. */
    background: fixed url(images/video_bg.jpg) no-repeat;
    background-size: cover;
}
 
#video_bg {
    /* ƒелаем так, чтобы видеофон занимал фиксированное положение. */
    position: fixed;
    top: 0;
    left: 0;
    /* –асполагаем наш фон под всем содержимым на странице.
    ƒл€ этого используем отрицательный z-index. */
    z-index: -1000;
    /* –аст€гиваем видео так, чтобы не было видно черных полос и
    чтобы независимо от разрешени€ экрана видеофон занимал все рабочее пространство. */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}